<% if answer.flagged? %>
  <%= simple_form_for(answer) do |f| %>

    <%= f.hidden_field :question_id, value: answer.question.id %>
    <%= f.hidden_field :status, value: "" %>
    <%= f.hidden_field :body, value: answer.body %>

    <div class="form-actions">
      <%= f.button :submit, "Unflag", class: "btn btn-warning" %>
    </div>
  <% end %>

<% elsif answer.posted? %>
  Answer Posted.
<% else %>

  <%= simple_form_for(answer) do |f| %>

    <%= f.hidden_field :question_id, value: answer.question.id %>
    <%= f.hidden_field :status, value: "flagged" %>
    <%= f.hidden_field :body, value: answer.body %>

    <div class="form-actions">
      <%= f.button :submit, "Flag", class: "btn btn-danger" %>
    </div>
  <% end %>
<% end %>