<p>
  <strong>Question Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Question Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @question.survey.title %>
</p>

<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :body %>
    <%= f.hidden_field :question_id, value: @question.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% if signed_in? %>
  <p> Answers </p>
  <table>
    <thead>
      <tr>
        <th>Body</th>
        <th>Created At:</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @question.answers.each do |question_answer| %>
        <tr>
          <td>
            <%= question_answer.status %>
            <%= question_answer.preview_body_if_long %>
            <%= link_to '(Show)', question_answer %>    
          </td>
          <td>
            <%= question_answer.created_at %>    
          </td>
          <td>
            <%= render partial: "questions/flag_unflag_button",
              locals: { question_answer: question_answer } %>
            <% render "add_note_button"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Back', questions_path %>
<% end %>