<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p> Answers </p>
<table>
  <thead>
    <tr>
      <th>Question Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey.questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
         <td><%= link_to 'Show', question %></td>
      </tr>
    <% end %>
  </tbody>
 </table>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
